<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= pageTitle %></title>
    <!-- Bootstrap Core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/public/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/public/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jquery ui -->
    <link href="/public/vendor/jquery/WR-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/public/vendor/jquery/WR-ui/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
    <link href="/public/vendor/jquery/WR-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">

    <link href="/public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Rose-Hulman Wrike v1.0</a>
                <a class="" href="#" aria-label="">
                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="color: #5cb85c; margin-top: 3px;"></i>
                </a>
                
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown" style="display: none;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 0px !important;">
                        <img id="avatar" style="display: none;"></img><i id="avatar-placeholder" class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" id="loadProfile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li id="liLogout">
                            <a href="#" id="lkLogout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--SEARCH BOX-->
                        <!--
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </li>
                        -->
                        <li>
                            <a href="#" id="RW-Show-Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li style="display: none;">
                            <a href="#"><i class="fa fa-tasks fa-fw"></i> TASKS</a>
                            <!-- /.nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                        </li>

                        <div id="inject_folderTree"></div>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="RW-Dashboard">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row" id="mainLoading">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row" id="secTasks">
                    <div class="col-lg-3 col-md-6">
                        <div class="row" id="RW-Tasks-Widget-Loading">
                            <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="RW-Tasks-Widget"></div>
                    </div>
                </div>
                <div id="RW-Widget-Items" style="display: none" class="row"></div>
                <div class="row">
                    <div class="col-xs-5">
                        <!--<div class="row" id="groupLoading">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...Groups</span>
                        </div>
                        <div id="inject_groups"></div>


                        <div class="row" id="folderTreeLoading">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...Folders</span>
                        </div>
                        <div id="inject_folderTree"></div>-->

                        <div class="row" id="tasksLoading" style="display: none">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...Tasks</span>
                        </div>
                        <div id="inject_tasks"></div>

                    </div>
                    <div class="divider col-xs-1" id="RW-Divider" style="display: none;"></div>
                    <div class="col-xs-6">
                        <div id="form-inject" style="padding-left: 15px;"></div>
                    </div>                
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->
        <div id="RW-Profile" style="display: none;">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Profile</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div id="profile-inject"></div>
                </div>
            </div>
        </div>

        <!-- Testing section -->
            <!--<div id="draggable" class="WR ui-widget-content">
                <p class="WR ui-widget-header">I can be dragged only by this handle</p>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            
            <ul>
                <li id="draggable" class="WR ui-state-highlight">Drag me down<i class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>
            
            <ul id="sortable">
                <li class="WR ui-state-default">Item 1<i class="fa fa-bars" aria-hidden="true"></i></li>
                <li class="WR ui-state-default">Item 2<i class="fa fa-bars" aria-hidden="true"></i></li>
                <li class="WR ui-state-default">Item 3<i class="fa fa-bars" aria-hidden="true"></i></li>
                <li class="WR ui-state-default">Item 4<i class="fa fa-bars" aria-hidden="true"></i></li>
                <li class="WR ui-state-default">Item 5<i class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>-->

            <!--<style>
                #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
                #inject_folderTree i { cursor: move; }
            </style>-->
        <!-- /Testing section -->

    <!-- /#wrapper -->
        </div>
    <!-- jQuery -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/public/vendor/raphael/raphael.min.js"></script>
    <script src="/public/vendor/morrisjs/morris.min.js"></script>
    <script src="/public/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/public/dist/js/sb-admin-2.js"></script>
    <!-- Custom JavaScript -->
    <script src="/public/javascripts/LogoutMgr.js"></script>
    <script src="/public/javascripts/indexMgr.js?v=1.00"></script>

    <!-- Jquery UI -->
    <script src="/public/vendor/jquery/WR-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        window.onload = function () {
            var logoutMgr = new LogoutMgr();
            //$( "#draggable" ).draggable({ handle: "i" });
            //$( "#draggable2" ).draggable({ cancel: "p.ui-widget-header" });
            //$( "div" ).disableSelection();  

            // $( "#sortable" ).sortable({
            //     revert: true
            // });
            // $( ".projectFolders" ).draggable({
            //     handle: "i",
            //     connectToSortable: "#sortable",
            //     helper: "clone",
            //     revert: "invalid"
            // });
            // $( "ul, li" ).disableSelection();

        };
        $(document).ready(function () {
            var indexMgr = new IndexMgr();
        });
    </script>
</body>
</html>
