/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

#side-menu :hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#side-menu {
  background-color: #e7e7e7;
}

.task-icon :hover {
  cursor: pointer;
}

.task-icon i :hover {
  cursor: move;
}

.divider{
    position:absolute;
    left:50%;
    top:14.4%;
    bottom:-15%;
    border-left:1px solid #eee;
}

.subTasks :hover {
  background-color: #f2f2f2;
}
